**pycache**/
*.pyc
__pycache__/
extensions/clipboard/media/*
!extensions/clipboard/media/.gitkeep
extensions/clipboard/clipboard_history.db
settings.json
/prototype/
*.crt 
*.key
*/timezone/*.json
!*/timezone/zones.json
